<a href="https://colab.research.google.com/github/aboagyeso/Kinase_activity/blob/master/Copy_of_Kinase_Regression_P49841.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT PACKAGES

In [0]:
import numpy as np
import sklearn.metrics, math
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor as rf
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import KFold
from sklearn import metrics
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from tensorflow import set_random_seed
from keras.models import Sequential
from keras.layers.normalization import BatchNormalization
from keras.callbacks import EarlyStopping
from keras.layers import Dense
import matplotlib.pyplot as plt
import numpy as np
# Set random seed
np.random.seed(0)

In [0]:

from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error 
import seaborn as sns

import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
#from xgboost import XGBRegressor

DEFINE CUSTOM FUNCTIONS

In [0]:


# root mean squared error (rmse) for regression
def rmse(y_true, y_pred):
    from keras import backend
    return backend.sqrt(backend.mean(backend.square(y_pred - y_true), axis=-1))

# mean squared error (mse) for regression
def mse(y_true, y_pred):
    from keras import backend
    return backend.mean(backend.square(y_pred - y_true), axis=-1)

# coefficient of determination (R^2) for regression
def r_square(y_true, y_pred):
    from keras import backend as K
    SS_res =  K.sum(K.square(y_true - y_pred)) 
    SS_tot = K.sum(K.square(y_true - K.mean(y_true))) 
    return (1 - SS_res/(SS_tot + K.epsilon()))

def r_square_loss(y_true, y_pred):
    from keras import backend as K
    SS_res =  K.sum(K.square(y_true - y_pred)) 
    SS_tot = K.sum(K.square(y_true - K.mean(y_true))) 
    return 1 - ( 1 - SS_res/(SS_tot + K.epsilon()))

In [0]:

def add_gausian(y,mu,sigma):
    noise = np.random.normal(mu,sigma,[1412, 117])
    df_aug = df_train_set +noise 
    #df_new = pd.concat([df_train_set,df_aug])
    return(df_aug)

def drop_corr(df):
    corr_matrix = df.corr().abs()
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(np.bool))
    to_drop = [column for column in upper.columns if any(upper[column]>0.95)]
    df_new = df.drop(df[to_drop],axis = 1)
    return(df_new)

def model_eval(model):
    model.fit(X_train,y_train)
    pred = model.predict(X_test)
    #model_score = model.score(X_test,y_test)
    model_mse =  mse(y_test,pred)
    model_r2 =r2(y_test,pred)
    return(-model_mse, model_r2)

In [0]:
# Load libraries
from keras import models
from keras import layers
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot
from keras.utils import plot_model

READ IN THE DATAFRAME AND CHECK OUTPUT

In [640]:
df = pd.read_csv('https://raw.githubusercontent.com/aboagyeso/Kinase_activity/master/data/kinase_files/KinaseP49841.csv')
df.head()

   Unnamed: 0 target_id   pAc  ... MQN40  MQN41  MQN42
0       27604    P49841  1.30  ...     0      6      3
1       27605    P49841  1.30  ...     0      4      2
2       27606    P49841  2.44  ...     0      2      1
3       27607    P49841  2.76  ...     0      2      1
4       27608    P49841  2.84  ...     0      0      0

[5 rows x 120 columns]

In [641]:
#Check the shape of the dataframe
df.shape

(1569, 120)

In [642]:
#Drop the highly correlated features
drop_corr(df).head()

   Unnamed: 0 target_id  ... MQN41  MQN42
0       27604    P49841  ...     6      3
1       27605    P49841  ...     4      2
2       27606    P49841  ...     2      1
3       27607    P49841  ...     2      1
4       27608    P49841  ...     0      0

[5 rows x 92 columns]

In [643]:
drop_corr(df).shape

(1569, 92)

In [0]:
#Plot distribution of the pAc with the density estimation function
#f, ax = plt.subplots(figsize=(6, 6))
#sns.distplot(df.pAc,color = 'green');
#sns.set_style("whitegrid")

In [0]:
#Boxplot of pAc,It has a few outliers but the distribution in fairly normal
#f, ax = plt.subplots(figsize=(5, 6))
#sns.set_style("whitegrid")
#data = df.pAc
#sns.boxplot(data=data);

In [646]:
#Drop unwanted columns
df = df.drop(['Unnamed: 0','smiles','target_id'], axis=1)
df.head()

    pAc    SlogP       SMR   LabuteASA  ...  MQN39  MQN40  MQN41  MQN42
0  1.30  3.61340  106.8544  151.512268  ...      0      0      6      3
1  1.30  2.61010  110.4477  167.285365  ...      0      0      4      2
2  2.44  3.53480   95.1268  146.152767  ...      0      0      2      1
3  2.76  5.63550  110.5034  157.795671  ...      0      0      2      1
4  2.84  2.28358   77.8044  121.935285  ...      0      0      0      0

[5 rows x 117 columns]

In [0]:
# Get the feature vector
X = df.drop(columns=['pAc'],axis=1)
# Get the target vector
y = df["pAc"]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1,random_state=42)

In [649]:
#Check the shape of the training and testing data 
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1412, 116), (157, 116), (1412,), (157,))

 Add the X_train and y_train to form a a training set for augmentation
 **bold text**

In [650]:
df_train_set = pd.concat([X_train, y_train], axis = 1)
df_train_set.head()

        SlogP       SMR   LabuteASA    TPSA  ...  MQN40  MQN41  MQN42   pAc
162   4.45602  142.3172  223.806917   65.77  ...      0      2      1  4.91
1134  2.70330  107.4078  171.701514  126.05  ...      0     12     13  7.29
352   6.18650  170.7687  248.562788   72.16  ...      0      6      3  5.60
518   3.85070   57.8435   93.565816   17.07  ...      0      0      0  6.00
44    1.19987   59.4347   90.705947   50.78  ...      0      0      0  4.19

[5 rows x 117 columns]

In [0]:
#Assign df0 to df_train_set
df0 = df_train_set

In [652]:
#The shape of the training set
df0.shape

(1412, 117)

DATA BEFORE AUGMENTATION

In [653]:
# Get the feature vector
X0 = df0.drop(columns=['pAc'],axis=1).values
# Get the target vector
y0 = df0["pAc"].values
X0_train, X0_test, y0_train, y0_test = train_test_split(X0, y0, test_size=0.3,random_state=42)
X0_train.shape,y0_train.shape,X0_test.shape,y0_test.shape

((988, 116), (988,), (424, 116), (424,))

VALIDATION SET FOR EXTERNAL VALIDATION

In [0]:
X_test_val = X_test.values
y_test_val = y_test.values

AUGMENTATION 0.1

In [0]:
#Add noise of 0.01 to the dataframe
noise = add_gausian(df0,0,0.1)
df1 = pd.concat([df0,noise])
df1.shape
# Get the feature vector
X1 = df1.drop(columns=['pAc'],axis=1).values
# Get the target vector
y1 = df1["pAc"].values

#Split data into training and testing set
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.3,random_state=42)

AUGMENTATION 0.2

In [0]:
#Add noise of 0.02 to the dataframe
noise = add_gausian(df0,0,0.2)
df2=pd.concat([df1,noise])

# Get the feature vector
X2 = df2.drop(columns=['pAc'],axis=1).values
# Get the target vector
y2 = df2["pAc"].values
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3,random_state=42)

AUGMENTATION 0.3

In [0]:
#Add noise of 0.03 to the dataframe
noise3 = add_gausian(df0,0,0.3)

df3 = pd.concat([df2,noise3])
# Get the feature vector
#X = df.drop('smiles', 'mol', 'pAc', axis=1)
X3 = df3.drop(columns=['pAc'],axis=1).values
# Get the target vector
y3 = df3["pAc"].values
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.3,random_state=42)

BUILD DEEP LEARNING MODELS


MODEL0

In [658]:
model0 = Sequential()
# The Input Layer :
model0.add(Dense(128, kernel_initializer='normal',input_dim = X_train.shape[1], activation='relu'))

# The Hidden Layers :
model0.add(Dense(256, kernel_initializer='normal',activation='relu'))
model0.add(Dense(256, kernel_initializer='normal',activation='relu'))
model0.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
model0.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
model0.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])
#Train the model
model0.fit(X0_train, y0_train, epochs=50, batch_size=32, validation_split = 0.2,verbose=0)

MODEL 1

In [659]:
model1= Sequential()
# The Input Layer :
model1.add(Dense(128, kernel_initializer='normal',input_dim = X1_train.shape[1], activation='relu'))

# The Hidden Layers :
model1.add(Dense(256, kernel_initializer='normal',activation='relu'))
model1.add(Dense(256, kernel_initializer='normal',activation='relu'))
model1.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
model1.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
model1.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])
#Train the model
model1.fit(X1_train, y1_train, epochs=50, batch_size=32, validation_split = 0.2,verbose=0)

MODEL 2

In [660]:
np.random.seed(7)
# set the TF seed
set_random_seed(7)
# built Keras sequential model 
model2 = Sequential()
# add batch normalization
model2.add(BatchNormalization())
# add layer to the MLP for data (404,13) 
model2.add(Dense(units=300, activation='relu', input_dim=X2_train.shape[1]))
# add output layer
model2.add(Dense(units=1, activation='relu'))
# compile regression model loss should be mean_squared_error //
model2.compile(optimizer="adam", loss="mean_squared_error", metrics=["mean_squared_error"])
# fit model
model2.fit(X2_train, y2_train, epochs=50, batch_size=32, validation_split=0.2,verbose=0)

MODEL 3

In [661]:
np.random.seed(7)
# set the TF seed
set_random_seed(7)
# built Keras sequential model 
model3 = Sequential()
# add batch normalization
model3.add(BatchNormalization())
# add layer to the MLP for data (404,13) 
model3.add(Dense(units=300, activation='relu', input_dim=X3_train.shape[1]))
# add output layer
model3.add(Dense(units=1, activation='relu'))
# compile regression model loss should be mean_squared_error //
model3.compile(optimizer="adam", loss="mean_squared_error", metrics=["mean_squared_error"])
# fit model
model3.fit(X3_train, y3_train, epochs=50, batch_size=32, validation_split=0.2,verbose=0)

MODEL0 EVALUATION

In [662]:
pred0 =model0.predict(X0_test)
print('Model0 Evaluation on test set:')
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y0_test,pred0))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y0_test,pred0))
print("\n")
print('Model0 Evaluation on Validation set:')
valid_pred0= model0.predict(X_test_val)
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y_test_val,valid_pred0))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y_test_val,valid_pred0))

Model0 Evaluation on test set:
Mean squared error (MSE):       2.109218
R square (R^2):                 -0.230921


Model0 Evaluation on Validation set:
Mean squared error (MSE):       1.952462
R square (R^2):                 -0.549911

MODEL1 EVALUATION

In [663]:
pred1 =model1.predict(X1_test) 
print('Model1 Evaluation on test set:')
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y1_test,pred1))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y1_test,pred1))
print("\n")
print('Model1 Evaluation on Validation set:')
valid_pred1 = model1.predict(X_test_val)
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y_test_val,valid_pred1))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y_test_val,valid_pred1))

Model1 Evaluation on test set:
Mean squared error (MSE):       0.766253
R square (R^2):                 0.430961


Model1 Evaluation on Validation set:
Mean squared error (MSE):       0.825586
R square (R^2):                 0.344630

MODEL 2 EVALUATION

In [664]:
# Predict test set
print('Model2 Test:')
y2_pred = model2.predict(X2_test) 
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y2_test,y2_pred))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y2_test,y2_pred))
print("\n")
#Evaluate model2 on validation prediction
print('Model2 Validation:')
valid_pred2 = model2.predict(X_test_val)
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y_test_val,valid_pred2))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y_test_val,valid_pred2))

Model2 Test:
Mean squared error (MSE):       0.540691
R square (R^2):                 0.631752


Model2 Validation:
Mean squared error (MSE):       0.748704
R square (R^2):                 0.405660

MODEL 3 EVALUATION

In [665]:
# Predict test set
y3_pred = model3.predict(X3_test) 
print('Test Set:')
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y3_test,y3_pred))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y3_test,y3_pred))
print("\n")
#Evaluate model3 on validation prediction
print('Validation set:')
valid_pred3 = model3.predict(X_test_val)
print("Mean squared error (MSE):       %f" % sklearn.metrics.mean_squared_error(y_test_val,valid_pred3))
print("R square (R^2):                 %f" % sklearn.metrics.r2_score(y_test_val,valid_pred3))

Test Set:
Mean squared error (MSE):       0.523030
R square (R^2):                 0.678405


Validation set:
Mean squared error (MSE):       0.732116
R square (R^2):                 0.418829